.alt-header {
  padding: 0px 28px;
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* background-color: #A7D397; */
  background-color: #555843d6;
  color: white;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  display: flex;
  align-items: center;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

/* .alt-header__column:first-child{
    margin-right: auto;
    font-size: 18px;
}
.alt-header__column:last-child{
    margin-left: auto;
} */
/* .alt-header__column:nth-child(2){
    width: 33%;
    text-align: center;
} */

.alt-header__title {
  font-size: 25px;
  font-weight: 500;
}
