.user-component {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.user-component__column {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#myProfile{
  width: 70%;
}

.user-component:hover{
  background-color: #eee;
}
.user-component__avatar {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35%;
  margin-right: 10px;
  /* background-color: #19a7ce; */
  background-color: #F5EEC8;
}

.user-component__avatar i {
  font-size: 22px;
}

.user-component__text{
  display: flex;
  flex-direction: column;
}

.user-component__name {
  font-size: 18px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component__time {
  font-size: 14px;
}

.user-component__cnt {
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

#state_text{
  width: 250px;
}

#myProfile:hover{
  cursor: pointer;
}

.first-component:hover{
  background-color: #eee;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}